[Desktop Entry]
Type=Application
Version=1.0
Name=Install SweetPotatOs
GenericName=System Installer
Comment=Install SweetPotatOs on your machine
Exec=sweetpotatos-calamares
Icon=sweetpotatos
Terminal=false
Categories=System;Settings;
StartupNotify=true
Keywords=calamares;install;installer;
