[Desktop Entry]
Type=Application
Name=Install SweetPotatOs
Comment=Launch the Calamares installer
Exec=sudo -E calamares
Icon=sweetpotatoos
Terminal=false
Categories=System;
