[Desktop Entry]
Type=Application
Name=Install SweetPotatOs
Comment=Launch the Calamares installer
Exec=sweetpotatoos-calamares
Icon=sweetpotatoos
Terminal=false
Categories=System;
