[Desktop Entry]
Type=Application
Name=Install SweetPotatOs
Comment=Launch the Calamares installer
Exec=sweetpotatos-calamares
Icon=sweetpotatos
Terminal=false
Categories=System;
